language: python
python:
  - "3.6"
install:
  - pip install -r requirements.txt
  - pip install coveralls

services:
  - postgresql

before_script:
  - psql -c 'create database test_db;' -U postgres
script:

  - nosetests --with-coverage --cover-inclusive --cover-package=app
after_success:
  - coveralls